In [31]:
import pandas as pd

file = r"D:\Docs\GT - Acads\output2.csv"

In [32]:
df = pd.read_csv(file)
df.shape

(4184278, 7)

In [33]:
df.head()

,Unnamed: 0,tweet_id,sentiment,emotion,tweet_timestamp,year,month
0,95801556,1311561486700027906,positive,happiness,2020-10-01 00-00-00,2020,10
1,95801562,1311561486372831232,negative,fear,2020-10-01 00-00-00,2020,10
2,95801563,1311561486230188034,neutral or mixed,no specific emotion,2020-10-01 00-00-00,2020,10
3,95801573,1311561489958883328,positive,happiness,2020-10-01 00-00-01,2020,10
4,95801579,1311561487903649792,positive,happiness,2020-10-01 00-00-01,2020,10

In [34]:
sample_1 = df.sample(500000, random_state=420)
sample_1.head()

,Unnamed: 0,tweet_id,sentiment,emotion,tweet_timestamp,year,month
2389929,102897044,1316575199026970625,negative,anger,2020-10-14 20-02-42,2020,10
1682559,100566233,1314354870799994885,negative,anger,2020-10-08 16-59-55,2020,10
3495670,106678369,1320770097598943232,negative,anger,2020-10-26 09-51-44,2020,10
1448779,99914839,1313956206667534339,positive,happiness,2020-10-07 14-35-46,2020,10
2827553,104437902,1318330074911956993,negative,anger,2020-10-19 16-15-57,2020,10

In [35]:
sample_1['tweet_id'].to_csv(r'D:\Docs\GT - Acads\sample_oct.txt', sep='\t', header=False, index=False)