In [6]:
#IMPORT LIBRARIES

import requests
import pandas as pd
import json
import numpy as np
from datetime import datetime

In [7]:
#NOAA Token
Token = 'enter NOAA token here'

In [8]:
#NYC Station ID
station_id = 'GHCND:USW00094728'

In [28]:
#initialize lists to store data
dates_temp = []
dates_prcp = []
temps = []
prcp = []

#for each year from 2015-2019 ...
for year in range(2013, 2015):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00013874&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
    avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    #get the date field from all average temperature readings
    dates_temp += [item['date'] for item in avg_temps]
    #get the actual average temperature from all average temperature readings
    temps += [item['value'] for item in avg_temps]

working on year 2013
working on year 2014

In [ ]:
df_temp.to_csv('ISYE6203_ATL_avg_temp_2015-2020.csv', index = False)

In [30]:
#initialize dataframe
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0*1.8 + 32 for v in temps]

In [58]:
#initialize lists to store data
dates_maxtemp = []
dates_maxprcp = []
mtemps = []
maxprcp = []

#for each year from 2015-2019 ...
for year in range(2009, 2021):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TMAX&limit=1000&stationid=GHCND:USW00094728&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
    max_temps = [item for item in d['results'] if item['datatype']=='TMAX']
    #get the date field from all average temperature readings
    dates_maxtemp += [item['date'] for item in max_temps]
    #get the actual average temperature from all average temperature readings
    mtemps += [item['value'] for item in max_temps]

working on year 2009
working on year 2010
working on year 2011
working on year 2012
working on year 2013
working on year 2014
working on year 2015
working on year 2016
working on year 2017
working on year 2018
working on year 2019
working on year 2020

In [59]:
df_temp_hax = pd.DataFrame()

df_temp_hax['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_maxtemp]
df_temp_hax['maxTemp'] = [float(v)/10.0*1.8 + 32 for v in mtemps]

In [60]:
#initialize lists to store data
dates_mintemp = []
dates_minprcp = []
mintemps = []
minprcp = []

#for each year from 2015-2019 ...
for year in range(2009, 2021):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TMIN&limit=1000&stationid=GHCND:USW00094728&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
    min_temps = [item for item in d['results'] if item['datatype']=='TMIN']
    #get the date field from all average temperature readings
    dates_mintemp += [item['date'] for item in min_temps]
    #get the actual average temperature from all average temperature readings
    mintemps += [item['value'] for item in min_temps]

working on year 2009
working on year 2010
working on year 2011
working on year 2012
working on year 2013
working on year 2014
working on year 2015
working on year 2016
working on year 2017
working on year 2018
working on year 2019
working on year 2020

In [61]:
df_temp_hax['date2'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_mintemp]
df_temp_hax['minTemp'] = [float(v)/10.0*1.8 + 32 for v in mintemps]

In [62]:
df_temp_hax['avgTemp'] = (df_temp_hax['maxTemp'] + df_temp_hax['minTemp']) / 2

In [63]:
df_temp_hax

           date  maxTemp      date2  minTemp  avgTemp
0    2009-01-01    26.06 2009-01-01    15.08    20.57
1    2009-01-02    33.98 2009-01-02    23.00    28.49
2    2009-01-03    37.94 2009-01-03    28.94    33.44
3    2009-01-04    42.08 2009-01-04    24.98    33.53
4    2009-01-05    42.98 2009-01-05    37.94    40.46
...         ...      ...        ...      ...      ...
4378 2020-12-27    37.04 2020-12-27    24.26    30.65
4379 2020-12-28    50.00 2020-12-28    35.06    42.53
4380 2020-12-29    42.98 2020-12-29    30.20    36.59
4381 2020-12-30    42.98 2020-12-30    28.22    35.60
4382 2020-12-31    48.02 2020-12-31    35.96    41.99

[4383 rows x 5 columns]

In [64]:
df_temp_hax = df_temp_hax[['date','avgTemp']]

In [65]:
df_temp_hax

           date  avgTemp
0    2009-01-01    20.57
1    2009-01-02    28.49
2    2009-01-03    33.44
3    2009-01-04    33.53
4    2009-01-05    40.46
...         ...      ...
4378 2020-12-27    30.65
4379 2020-12-28    42.53
4380 2020-12-29    36.59
4381 2020-12-30    35.60
4382 2020-12-31    41.99

[4383 rows x 2 columns]

In [66]:
df_temp_hax.to_csv('ISYE6203_NYC_avg_temp_2009-2020.csv', index = False)